<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sms sender</title>
</head>
<body>
    
    <%= form_with(url: "/sms", method: "post") do %>
    <%= label_tag(:q, "Téléphone numero:") %>
    <%= text_field_tag(:phone) %>
    <%= submit_tag("Envoyer") %>
    <% end %>

</body>
</html>
